body {
    background: $colorVino;
    color: white;
    background-image: url(../img/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  