.parrafoFooter{
  text-align: center;
}

.navegadorFooter_ul,
.navegadorFooter_li {
  list-style: none;

  display: flex;

  color: #ffffff;

  padding: 1px 12px 2px;

  
}

.navegadorFooter_li {
    border-left: 3px solid #ffffff;
  }

