footer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navegadorFooter {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }

    li {
      margin: 5px 10px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .navegadorFooter_ul {
    padding: 0;
    margin: 0;
  }

  .text-center {
    text-align: center;
  }
// cambar el color del icono y su tamaño en responsive
  .navegadorFooter_ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; 
    background-color: transparent; 
  }

  .navegadorFooter_ul li a img {
    width: 24px; 
    height: 24px; 
    filter: invert(1); // buscoque la forma para invertir los colores... no se como encontre
  }
}
