.parrafoFooter {
  text-align: center;
}

.navegadorFooter_ul,
.navegadorFooter_li {
  list-style: none;

  display: flex;

  color: #ffffff;

  padding: 1px 12px 2px;
}

.navegadorFooter_li {
  border-left: 3px solid #ffffff;
  img {
    background: #ffffff;
    border-radius: 3px;
    padding: 1px;
    width: 24px; /* Ajusta el tamaño del icono según sea necesario */
    height: 24px; /* Ajusta el tamaño del icono según sea necesario */
  }
}
