img {
    width: 100%;
    height: auto;
    display: block;
}
.galeria{
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    justify-content: center;
    
    .foto {
        position: relative;    
        overflow: hidden;     
        border-radius: 8px;    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);     
        transition: transform 0.3s ease, box-shadow 0.3s ease;     
        flex: 1 1 calc(33.333% - 1rem);    
        max-width: calc(33.333% - 1rem);

        .card-text {            
            position: absolute;         
            bottom: 0;
            height: 50px;          
            width: 100%;          
            padding: 0.5rem;          
            background: $fondoNegro;         
            color: white;         
            text-align: center;          
            transition: background 0.3s ease;
        }
        
        p{
            font-size: 0.8rem;
        }
        
    }
}